<mat-toolbar  >
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>


<!--p>{{ user | json }}</!--p-->

<form novalidate #loginform="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="abcde@gmail.com" type ="email" 
        name="email" [(ngModel)]="user.email" name="email"
        #email="ngModel" email required>
        <mat-error *ngIf="email.errors?.email">Email is invalid</mat-error>
        <mat-error *ngIf="email.errors?.required">Email is required</mat-error>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="abcd@121" type="text"
        [(ngModel)]="user.username" name="username"
        #username="ngModel" required>
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field><br> 

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password':'text'"
        [(ngModel)]="user.password" name="password"
        #password="ngModel" required> 
        <span class="material-icons" matSuffix (click)="hide=!hide" style="cursor:default;">{{hide?'visibility_off':'visibility'}}</span>
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error> <br>
      </mat-form-field> <br> 

      <mat-form-field appearance="outline">
        <mat-label>Login as</mat-label>
          <mat-select name="Options" [(ngModel)]="user.Options" #Options="ngModel" required>
            <mat-option>None</mat-option>
            <mat-option value="Manager">Manager</mat-option>
            <mat-option value="Employee">Employee</mat-option>
            <mat-option value="Customer">Customer</mat-option>
          </mat-select>
          <mat-error *ngIf="Options.errors?.required">Select an option</mat-error>
        </mat-form-field> <br> <br>
      <mat-checkbox [(ngModel)]="user.remember" name="remember" color="warn">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" class="background-primary text-floral-white"
    [disabled]=loginform.form.invalid>Login</button>
  </mat-dialog-actions>
</form>