<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]"> <!--The prev and next variables for a 'dish' object has already been set when a new 'dish' object is fetched from the service. Using 'routerLink' we set the url of the dishdetail component with the parameter 'next' or 'prev' , 'id' as mentioned in the 'routes.ts' file.This new id is then extracted form the url using 'parmas' observable of 'ActivatedRoute'.Then the 'next' and 'prev' ids are set in the component file and the process continues-->
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" fxLayout="column" fxLayoutGap="10px" *ngIf="dish">
    <div fxFlex>
      <mat-list>
        <h3>Comments</h3>
        <mat-list-item *ngFor="let i of dish.comments">
            <p matLine>{{i.comment}}</p>
            <p matLine>{{i.rating}}</p>
            <p matLine><span>--{{i.author}}</span>{{i.date | date}}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex>
      <mat-list *ngIf="commentForm.valid">
        <mat-list-item>
          <p matLine>{{commentForm.value.comment}}</p>
          <p matLine>{{commentForm.value.rating}}</p>
          <p matLine><span>--{{commentForm.value.fullname}}</span></p>
        </mat-list-item>
      </mat-list>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" #cform="ngForm">
        <p>
          <mat-form-field class="fullwidth">
            <input matInput type="text" formControlName="fullname" id="fullname" placeholder="Name" required minlength="2" maxlength="25">
            <mat-error *ngIf="formErrors">{{ formErrors.fullname }}</mat-error>
          </mat-form-field>
        </p>
        <p>
            <mat-slider matInput formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></mat-slider>
        </p>
        <p>
          <mat-form-field class="fullwidth">
            <textarea matInput formControlName="comment" id="comment" placeholder="Comment about this dish" required>
            </textarea>
            <mat-error *ngIf="formErrors">{{ formErrors.comment }}</mat-error>
          </mat-form-field>
        </p>
        <button class="submit-button" type="submit" mat-button [disabled]="commentForm.invalid">Submit</button>
      </form>
    </div>
  </div>
  
  <div fxFlex="40" [hidden]="dish">
    <mat-spinner></mat-spinner> <h4>Loading.....Please Wait</h4>
  </div>

</div>